# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Loading the dataset using panadas

In [2]:
CC_data = pd.read_csv("C:/Users/hesro/Downloads/creditcard.csv/creditcard.csv")

# Basic checks of data

In [3]:
CC_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
CC_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [5]:
CC_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,3.918649e-15,5.682686e-16,-8.761736e-15,2.811118e-15,-1.552103e-15,2.040130e-15,-1.698953e-15,-1.893285e-16,-3.147640e-15,...,1.473120e-16,8.042109e-16,5.282512e-16,4.456271e-15,1.426896e-15,1.701640e-15,-3.662252e-16,-1.217809e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [6]:
CC_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
CC_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [8]:
CC_data['Class'].describe()

count    284807.000000
mean          0.001727
std           0.041527
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: Class, dtype: float64

In [9]:
CC_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

# Seperating Dataframe into two dataframes

In [10]:
# Seperating a data for normal and fraud transcation

# 0 --> Normal transc
# 1 --> Fraud transc

In [11]:
Legit = CC_data[CC_data.Class == 0]
Fraud = CC_data[CC_data.Class == 1]

In [12]:
print(Legit.shape)

(284315, 31)

In [13]:
print(Fraud.shape)

(492, 31)

In [14]:
Legit['Amount'].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [15]:
Fraud['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

## Sampling: Creating a normal distribution

In [16]:
# Extracting random 492 samples from normal(legit) data similiar to fraud data 

legit_sample = Legit.sample(n=492)

In [17]:
CC_data.groupby(CC_data.Class == 1).mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
Class,,,,,,,,,,,,,,,,,,,,,
False,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022,0.0
True,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321,1.0

In [18]:
legit_sample.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94143.235772,-0.014659,-0.026817,0.155276,-0.0566,-0.097083,-0.097513,-0.038757,0.002935,-0.047994,...,-0.006483,-0.019778,-0.023868,0.020309,0.008144,0.045661,-0.034129,-0.004921,-0.011283,80.72189

In [19]:
#Hence, Random selected data shows the similiarity between sample and orginial legit data

# Creating a new dataframe

In [20]:
CC_data1 = pd.concat([legit_sample,Fraud], axis=0)

In [21]:
CC_data1.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
243498,151954.0,1.923388,0.429823,-1.031018,3.459021,0.938843,0.906267,-0.008728,0.146056,-1.068036,...,0.298384,0.899746,-0.058253,0.043360,0.274208,0.235099,-0.040967,-0.061757,10.59,0
120000,75674.0,1.372810,-0.744940,0.787858,-0.532910,-1.327106,-0.262728,-0.979279,-0.015468,-0.207853,...,-0.288066,-0.195521,-0.056590,-0.054028,0.265750,1.195509,-0.018605,0.011686,11.66,0
48384,43618.0,1.358735,-0.704615,0.979306,-0.619440,-1.547075,-0.734342,-1.035615,-0.048584,-0.351766,...,0.382759,1.027372,-0.105350,0.433353,0.413757,-0.049549,0.033965,0.026684,19.99,0
260807,159735.0,-0.293399,1.046067,-0.832822,-0.468084,0.563855,-0.850093,0.510192,0.418200,-0.023078,...,-0.293327,-0.942111,0.199089,0.463333,-0.445777,0.124611,0.089095,0.003238,16.98,0
44515,41979.0,1.362191,0.112809,-0.575950,0.152377,0.608068,0.305258,0.105976,-0.014415,0.004847,...,-0.129549,-0.231260,-0.334244,-1.320586,0.870270,0.643754,-0.057396,-0.026766,0.01,0

In [22]:
CC_data1['Class'].describe()

count    984.000000
mean       0.500000
std        0.500254
min        0.000000
25%        0.000000
50%        0.500000
75%        1.000000
max        1.000000
Name: Class, dtype: float64

In [23]:
CC_data1['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

# Splitting a data into features and Targets

In [24]:
features = CC_data1.drop(columns = 'Class',axis=1)
targets = CC_data1['Class']

In [25]:
features_train, features_test, targets_train, targets_test = train_test_split(features, targets, 
                                                                              test_size=0.2, 
                                                                              stratify=targets, 
                                                                              random_state=2)

In [26]:
print(features_train.shape, features_test.shape)

(787, 30) (197, 30)

# Logistic Regression model

In [27]:
model = LogisticRegression(max_iter=3000)

In [28]:
model.fit(features_train, targets_train)

LogisticRegression(max_iter=3000)

In [29]:
features_train_predict = model.predict(features_train)
train_accuracy = accuracy_score(features_train_predict, targets_train)

In [30]:
print(train_accuracy)

0.9440914866581956

In [31]:
# Accuracy on training data is 0.9542566709021602

In [32]:
# Testing it on test data

features_test_predict = model.predict(features_test)
test_accuracy = accuracy_score(features_test_predict, targets_test)

In [33]:
print(test_accuracy)

0.9289340101522843

## Checkpoint: creating a new data set

In [34]:
df = CC_data.copy()

In [35]:
X = df.drop(columns = 'Class',axis=1)
Y = df['Class']

In [37]:
Y.describe()

count    284807.000000
mean          0.001727
std           0.041527
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: Class, dtype: float64

# Implementing model on actual dataset

In [38]:
X_test_predict = model.predict(X)
Df_test_accuracy = accuracy_score(X_test_predict, Y)

In [39]:
print(Df_test_accuracy)

0.9560720066571398

In [41]:
X_test_predict

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [42]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

In [43]:
New_data = CC_data.copy()

In [44]:
New_data['X_test_predict'] = X_test_predict

In [45]:
New_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V22,V23,V24,V25,V26,V27,V28,Amount,Class,X_test_predict
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0,1
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0,0

In [46]:
New_data.to_csv("C:/Users/hesro/Downloads/creditcard.csv/creditcard_revised.csv", sep='\t')

##creating a new dataset incase you wants to view the prediciton data along with raw data. if you like the project drop a postive review on my linkedin "https://www.linkedin.com/in/hesron-wells-b13209164/"